<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deafriend</title>
    <link rel="stylesheet" href="../css/main2.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light " id="navegador">
        <a class="navbar-brand" href="#" style="color:#ffffff;"> <img src="../../images/logodeafriend2.png" width="150px" height="60px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="WelcomeName" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" id="perfile">Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" id="singOut"  >Cerrar Sesión</a>
              </div>
            </li>
            
          </ul>
          
        </div>
    </nav>

    <section id="UserInformation"> 
      <div class="row justify-content-md-center">
          <div class="col col-12  col-lg-8">
              <div class="container-fluid">
                  <div class="card border-light mb-3" style="max-width: 50rem;" id="card-social">
                  <div class="card-header" id="toPostName"></div>
                  <div class="card-body">
                  <div class="form-group">
                  <label for="exampleFormControlTextarea1">Escribe aqui tu comentario</label>
                  <textarea class="form-control"id="commentary" rows="1"></textarea>
                  
                  <button type="button" class="btn btn-raised btn-secondary btn-sm" id="button-topost">
                    Publicar  <i class="fas fa-arrow-circle-right"></i></button>                
                  </div>
                </div>
                  </div>
              </div>      
  
          </div>
          
          <div class=" d-none d-lg-block   col-lg-4">
              
              <div class="container-fluid">
                  <div class="card border-light mb-3" style="max-width: 50rem;" id="card-anuncio">
                  <div class="card-header" ></div>
                  <div class="card-body">
                  <div class="form-group">
                  <label for="exampleFormControlTextarea1">Anuncio Publicitario</label>
                            
                  </div>
                </div>
                  </div>
              </div>  
          </div>
      </div>
</section>
 <!--Publicaciones-->
<section id="Post"> 
    <div class="row justify-content-md-center">
        <div class="col col-12  col-lg-8">
                <div id="commentarys" class="container-fluid"></div> 
        </div>
        
        <div class=" d-none d-lg-block  col-lg-4">
            
            <div class="container-fluid">
                <div class="card border-light mb-3" style="max-width: 50rem;" id="card-anuncio2">
                <div class="card-header" ></div>
                <div class="card-body">
                <div class="form-group">
                <label for="exampleFormControlTextarea1">Anuncio Publicitario</label>
                          
                </div>
              </div>
                </div>
            </div>  
        </div>
    </div>
</section>





























     

      
      

        </div>
        <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-messaging.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-functions.js"></script>
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
        <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
        <script src="../js/data.js"></script>
        <script src="../js/index2.js"></script>
        <script src="../js/app2.js"></script>
        <script src="../js/perfile.js"></script>
        
</body>
</html>