<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deafriend</title>
   
    <link rel="stylesheet" href="../css/main2.css"/>
    <link rel="stylesheet" href="../css/materialize-social.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
<body>

 <div id="delate">

        <div class="container">
                <div class="row">
                     <h1 align='center' class="col-lg-12" id="titule" style="color:#ffffff;"><img src="../../images/logo deafriend.png" width="25%" height="auto"></h1> 
                     
                     
               </div>
       </div>

       <div class="container1">
                <div class="row">
                        <div class="form-group mx-auto" style="width: 200px;">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control text-white col-form-label-lg" id="emailUser"  placeholder="Email">
                         </div>    
                </div>
       </div>


       <div class="container2">
            <div class="row">
                    <div class="form-group mx-auto" style="width: 200px;">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control text-white col-form-label-lg" id="passwordUser" placeholder="Password">
                   </div>      
            </div>
        </div>


        <div class="container3">
                <div class="row">
                        <div class="form-group mx-auto" style="width: 130px;">
                                 <button type="submit" id="enter" class="btn btn-info p-3 mb-2 bg-white text-dark">Iniciar Sesión</button>
                        </div>
                </div>
        </div>
        <!-- Button trigger modal -->
        <div class="container4">
                <div class="row">
                            <div class="form-group mx-auto" style="width: 120px;">
                                    <button type="button" class="btn btn-primary text-dark" data-toggle="modal" data-target="#exampleModal">
                                            Registrate
                                   </button>
                           </div>
                </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Registrate</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">

                                        <!-- Registro nombre -->
                                        <div class="form-row">
                                            <div class="col">
                                            <input type="text" class="form-control" placeholder="First name" id="name">
                                            </div>
                                            <div class="col">
                                            <input type="text" class="form-control" placeholder="Last name" id="nameLast">
                                            </div>
                                        </div>
                                        <!-- Registro email -->
                                        <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control"  id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                       </div>
                                       <!-- Registro password -->
                                       <div class="form-group">
                                                <label for="exampleInputPassword1">Password</label>
                                                <input type="password" class="form-control" id="password" placeholder="Password">
                                       </div>
                               </div>

                                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary text-dark" data-toggle="modal" data-target="#exampleModal2" id="registry">
                                                Guardar
                                      </button>
                                </div>
                       </div>
               </div>
       </div>
       
        <!-- Modal Send Email -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Correo de confirmación</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                            Te estamos enviando un correo para que verifiques tu cuenta.
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                               </div>
                       </div>
               </div>
        </div>
       
        <!--End Send Email -->

        <div class="container-button-google">
                <div class="row">
                        <div class="form-group mx-auto" >
                                        
                                <a id="loginGoogle" class="waves-effect waves-light social-icon btn-large google">
                                        <i class="fa fa-google"></i></a>
                                                              
                                
                                <a id="loginFacebook" class="waves-effect waves-light social-icon btn-large facebook">
                                         <i class="fa fa-facebook"></i></a>

                                         
                        </div>    
                </div>
                
        </div>

        <label align='center' class="col-lg-12" id="titule2" style="color:#ffffff;;">Unete a la mejor comunidad online de sordos</label>
        <div class="form-group mx-auto" style="width: 120px;">
                <button type="button" class="btn btn-primary text-dark" data-toggle="modal" data-target="#exampleModal">
                        Conocenos
               </button>
       </div>
       <div class="container-information">
                <div class="row">
   
                </div>
        </div>
</div>    
       
      



        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
        <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-messaging.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-functions.js"></script>
        
        <script src="../js/data.js"></script>
        <script src="../js/app.js"></script>



</body>
</html>