@import url('https://fonts.googleapis.com/css?family=Pacifico');

#login-page {
   background-color: #73CBE1;
}

#titule {
    font-family: 'Pacifico', cursive;
    
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 90px;
}

.container1 {
    
    padding-top: 10px;
}

.container3 {
    
    padding-top: 20px;
}

